SKIP_ALL_JOBS: false          # пропустить весь pipeline
DISABLE_LINT: false           # пропустить задачу lint
DISABLE_BUILD: true           # пропустить сборку образа
DISABLE_DEPLOY: true          # пропустить обновление данных для ArgoCD (останется старый образ на стенде)
DEPLOYMENT_PATH: "demo-front/sandbox/stub.yaml" # путь до файла deployment для ArgoCD (устанавливается через DevOps)
HOSTNAME: "stub.planet9.uk"   # на текущий момент не используется
