@import url('./fonts.css');
@import url('./colors.css');
@import url('./normalize.css');
@import url('./typography.css');

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	font-style: normal;
	font-weight: 400;
	font-family: 'Roboto Flex', sans-serif;
	color: var(--text-color-base-500);
	background: var(--bg-color-surface-00);
	font-optical-sizing: auto;
	font-variation-settings:
		'slnt' 0,
		'wdth' 100,
		'GRAD' 0,
		'XOPQ' 96,
		'XTRA' 468,
		'YOPQ' 79,
		'YTAS' 750,
		'YTDE' -203,
		'YTFI' 738,
		'YTLC' 514,
		'YTUC' 712;
}

#app {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	box-sizing: border-box;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	border-radius: 20px;
}

::-webkit-scrollbar-track {
	background: inherit;
}

::-webkit-scrollbar-thumb {
	background-color: var(--bg-color-base-300);
	border-radius: 20px;
}

::-webkit-scrollbar-corner {
	background-color: inherit;
}
