body * {
	scrollbar-gutter: stable;
}


:root {
	--scrollbar-color: rgb(44 44 44 / 50%);
}


::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 6px;
}

*:hover::-webkit-scrollbar-thumb {
	background: var(--scrollbar-color);
}

*:hover::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

@supports (-moz-appearance: none) {
	body * {
		scrollbar-width: thin;
		scrollbar-color: transparent transparent;
	}

	body *:hover {
		scrollbar-color: var(--scrollbar-color) transparent;
	}
}
