:root {
	/* 2.3.1 */
	--font-title-600-size: clamp(34px, 2.3vw + 30px, 40px);
	--font-title-500-size: clamp(29px, 2vw + 26px, 33.8px);
	--font-title-400-size: clamp(22.8px, 1.6vw + 20px, 26.6px);
	--font-title-300-size: clamp(18.5px, 1.3vw + 17px, 21px);
	--font-title-200-size: clamp(15.5px, 1vw + 15px, 16.8px);
	--font-title-100-size: clamp(12.8px, 0.9vw + 12px, 13.5px);
	--font-text-500-r-size: 14.8px;
	--font-text-400-r-size: 14.3px;
	--font-text-300-r-size: 13.3px;
	--font-text-200-r-size: 12.2px;
	--font-text-100-r-size: 11px;
	--font-text-50-r-size: 9px;
	--font-text-500-b-size: var(--font-text-500-r-size);
	--font-text-400-b-size: var(--font-text-400-r-size);
	--font-text-300-b-size: var(--font-text-300-r-size);
	--font-text-200-b-size: var(--font-text-200-r-size);
	--font-text-100-b-size: var(--font-text-100-r-size);

	/* 2.3.0 */
	--typography-headers-size-h05: var(--font-title-600-size, 40px);
	--typography-headers-size-h04: var(--font-title-500-size, 33.8px);
	--typography-headers-size-h03: var(--font-title-500-size, 33.8px);
	--typography-headers-size-h02: var(--font-title-400-size, 26.6px);
	--typography-headers-size-h01: var(--font-title-300-size, 21px);
	--typography-headers-size-h00: var(--font-title-200-size, 16.8px);
	--typography-headers-size-h-01: var(--font-title-100-size, 12.8px);
	--typography-headers-size-h-02: var(--font-title-100-size, 12.8px);
	--typography-paragraph-size-p03: var(--font-text-500-r-size, 14.8px);
	--typography-paragraph-size-p02: var(--font-text-500-r-size, 14.8px);
	--typography-paragraph-size-p01: var(--font-text-400-r-size, 14.3px);
	--typography-paragraph-size-p00: var(--font-text-300-r-size, 13.3px);
	--typography-paragraph-size-p-01: var(--font-text-200-r-size, 12.2px);
	--typography-paragraph-size-p-02: var(--font-text-100-r-size, 11px);
	--typography-paragraph-size-p-03: var(--font-text-50-r-size, 9px);
	--typography-menu-menu-title: var(--font-title-100-size, 12.8px);
	--typography-menu-menu-item: var(--font-text-300-r-size, 13.3px);
	--typography-menu-caption-title: var(--font-text-200-r-size, 12.2px);
	--typography-menu-caption: var(--font-text-200-r-size, 12.2px);
}

/* tablet breakpoint */
@media screen and (max-width: 992px) {
	:root {
		--font-text-500-r-size: 14.5px;
		--font-text-400-r-size: 13.2px;
		--font-text-300-r-size: 12.5px;
		--font-text-200-r-size: 11.8px;
		--font-text-100-r-size: 11px;
		--font-text-50-r-size: 9px;
	}
}

/* Mobile breakpoint */
@media screen and (max-width: 768px) {
	:root {
		--font-text-500-r-size: 14.5px;
		--font-text-400-r-size: 13.2px;
		--font-text-300-r-size: 12.5px;
		--font-text-200-r-size: 12.2px;
		--font-text-100-r-size: 11px;
		--font-text-50-r-size: 9px;
	}
}

/* paragraph/p03 */
.paragraph-p03 {
	font-style: normal;
	font-weight: 400;
	font-size: var(--typography-paragraph-size-p03);
	line-height: 140%; /* 26.6px */
	font-family: 'Roboto Flex', sans-serif;
	letter-spacing: 0.152px;
}

/* paragraph/p02 */
.paragraph-p02 {
	font-style: normal;
	font-weight: 400;
	font-size: var(--typography-paragraph-size-p02);
	line-height: 150%; /* 25.5px */
	font-family: 'Roboto Flex', sans-serif;
	letter-spacing: 0.136px;
}


/* paragraph/p01 */
.paragraph-p01 {
	font-style: normal;
	font-weight: 400;
	font-size: var(--typography-paragraph-size-p01);
	line-height: 160%; /* 24px */
	font-family: 'Roboto Flex', sans-serif;
	letter-spacing: 0.165px;
}


/* paragraph/p-00 */
.paragraph-p-00 {
	font-style: normal;
	font-weight: 400;
	font-size: var(--typography-paragraph-size-p00);
	line-height: 160%; /* 20.8px */
	font-family: 'Roboto Flex', sans-serif;
	letter-spacing: 0.143px;
}


/* paragraph/p-01 */

.paragraph-p-01 {
	font-style: normal;
	font-weight: 440;
	font-size: var(--typography-paragraph-size-p-01);
	line-height: 170%; /* 20.4px */
	font-family: 'Roboto Flex', sans-serif;
	letter-spacing: 0.096px;
}


/* paragraph/p-02 */
.paragraph-p-02 {
	font-style: normal;
	font-weight: 440;
	font-size: 11px;
	line-height: 170%; /* 18.7px */
	font-family: 'Roboto Flex', sans-serif;
	letter-spacing: 0.088px;
}


/* paragraph/p-03 */
.paragraph-p-03 {
	font-style: normal;
	font-weight: 440;
	font-size: var(--typography-paragraph-size-p-02);
	line-height: 170%; /* 17px */
	font-family: 'Roboto Flex', sans-serif;
	letter-spacing: 0.08px;
}

/* header/h05 */
.header-h05 {
	font-style: normal;
	font-weight: 460;
	font-size: var(--typography-headers-size-h05);
	line-height: 130%; /* 52px */
	font-family: 'Roboto Flex', sans-serif;
}


/* header/h04 */
.header-h04 {
	font-style: normal;
	font-weight: 460;
	font-size: var(--typography-headers-size-h04);
	line-height: 130%; /* 41.6px */
	font-family: 'Roboto Flex', sans-serif;
}

/* header/h03 */
.header-h03 {
	font-style: normal;
	font-weight: 460;
	font-size: var(--typography-headers-size-h03);
	line-height: 130%; /* 36.4px */
	font-family: 'Roboto Flex', sans-serif;
}

/* header/h02 */
.header-h02 {
	font-style: normal;
	font-weight: 340;
	font-size: var(--typography-headers-size-h02);
	line-height: 150%; /* 33px */
	font-family: 'Roboto Flex', sans-serif;
}


/* header/h01 */
.header-h01 {
	font-style: normal;
	font-weight: 340;
	font-size: var(--typography-headers-size-h01);
	line-height: 160%; /* 28.8px */
	font-family: 'Roboto Flex', sans-serif;
}


/* header/h00 */
.header-h00 {
	font-style: normal;
	font-weight: 340;
	font-size: var(--typography-headers-size-h00);
	line-height: 170%; /* 25.5px */
	font-family: 'Roboto Flex', sans-serif;
	letter-spacing: 0.075px;
}

/* controls/c00 */
.controls-c00 {
	font-style: normal;
	font-weight: 400;
	font-size: var(--font-text-300-r-size, 13.3px);
	line-height: 180%;
	font-family: 'Roboto Flex', sans-serif;
	letter-spacing: 0.146px;
}

