@import url('./fonts.css');
@import url('./colors.css');

/* For test font */
body {
	font-style: normal;
	font-weight: 400;
	font-family: 'Roboto Flex', sans-serif;
	font-optical-sizing: auto;
	font-variation-settings:
		'slnt' 0,
		'wdth' 100,
		'GRAD' 0,
		'XOPQ' 96,
		'XTRA' 468,
		'YOPQ' 79,
		'YTAS' 750,
		'YTDE' -203,
		'YTFI' 738,
		'YTLC' 514,
		'YTUC' 712;
}
